@use "./variables";

body {
    width: 100%;
    min-height: 100svh;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
    background-color: variables.$bodyColorPrimary !important;
}