@use "./variables";
@use "./mixins/mixins";

.btn {
    @include mixins.border-radius(22px);
    color: variables.$textColor;
    background-color: transparent;
    outline: variables.$textColor;
    border: 3.5px solid variables.$textColor;
    transition: ease-in-out 0.5s;
    backdrop-filter: blur(10px);

    &:hover {
        background-color: variables.$buttonColorHero;
        outline: variables.$buttonColorHero;
        border: 3.5px solid variables.$textColor;
        backdrop-filter: blur(10px) !important;
        color: variables.$textColorSec;
    }
}

.btn-primary {
    box-shadow: none !important;
    outline: variables.$textColor;
    background-color: transparent;
    border: 3.5px solid variables.$textColor;
    backdrop-filter: blur(10px) !important;
}

.btn,
.btn-primary {
    &:focus,
    &:active,
    &:focus-visible {
        background-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;
        color: variables.$textColor !important;
        border-color: variables.$textColor !important;
        pointer-events: none !important;
    }
}

.btn-secondary {
    color: variables.$textColorSec;
    background-color: transparent;
    outline: variables.$textColorSec;
    border: 3.5px solid variables.$textColorSec;
    transition: ease-in-out 0.5s;
    backdrop-filter: blur(10px);
    padding: 5px 15px;
    text-transform: uppercase;

    &:hover {
        @include mixins.border-radius(22px);
        background-color: variables.$buttonColor;
        outline: variables.$buttonColor;
        border: 3.5px solid variables.$buttonColor;
        backdrop-filter: blur(10px) !important;
        color: variables.$textColor;
        font-weight: bolder;
        letter-spacing: 2px;
}

    &:focus,
    &:active,
    &:focus-visible {
        background-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;
        color: variables.$textColorSec !important;
        border-color: variables.$textColorSec !important;
        pointer-events: none !important;
    }
}

.btn-tertiary {
    color: variables.$textColorSec;
    background-color: transparent;
    outline: variables.$textColorSec;
    border: 3.5px solid variables.$textColorSec;
    transition: ease-in-out 0.5s;
    backdrop-filter: blur(10px);
    padding: 5px 15px;
    text-transform: uppercase;

    &:hover {
        @include mixins.border-radius(22px);
        background-color: variables.$buttonColor;
        outline: variables.$buttonColor;
        border: 3.5px solid variables.$buttonColor;
        backdrop-filter: blur(10px) !important;
        color: variables.$textColor;
        font-weight: bolder;
        letter-spacing: 2px;
    }

    &:focus,
    &:active,
    &:focus-visible {
        background-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;
        color: variables.$textColorSec !important;
        border-color: variables.$textColorSec !important;
        pointer-events: none !important;
    }

    @media (max-width: 560px) {
        max-width: 190px;
        font-size: 0.8rem !important;
        margin-top: 1.8rem;
    }

    @media (min-width: 561px) and (max-width: 760px) {
        font-size: 1rem; 
        margin-top: 1.5rem;
    }

    @media (min-width: 761px) {
        max-width: 300px;
        font-size: 2rem;
    }
}