$primaryColor: #d33509; 
$secondaryColor: #f8ed52; 

$bodyColorPrimary: #3b3b3b; 
$bodyColorSecondary: #252221; 

$textColor: white;
$textColorSec: black;

$mainFont: "Arial", sans-serif;
$secondaryFont: "Arial", sans-serif;