// Primary Colors
$primaryColor: #edd068;
$secondaryColor: #f8ed52; 
// Body Colors
$bodyColorPrimary: white;
$bodyColorSecondary: #1a1a1a; 
$bodyColorTertiary: #242424; 
// Text Colors
$textColor: black;
$textColorSec: white;
$textColorAlternate: #6a6a6a;
// Fonts
$mainFont: "Special Gothic Condensed One", sans-serif;
$secondaryFont: "Oswald", sans-serif;
// Header Colors
$headerColor: transparent;
// Button Colors
$buttonColor: #edd068;
$buttonColorHover: #fcd856;
$buttonColorHero: #000000;
$buttonColorHeroHover: #ffffff;
// Scroll Colors
$colorScroll: #000000;
$colorScrollBg: #1a1a1a; 
$colorScrollThumb: #000000;
$colorScrollThumbHover: #3b3b3b;
// Footer Colors
$colorFooterPrimary: #e9e9e9;
$colorFooterSec: #000000;
$devbyColor: #fbfbfb;
$devbyColorHover: #2e86f3;
$svgColor: black;