// Primary Colors
$primaryColor: #edd068;
$secondaryColor: #f8ed52; 
// Body Colors
$bodyColorPrimary: white;  
$bodyColorSecondary: #1a1a1a;  
$bodyColorTertiary: white;
// Text Colors
$textColor: black;
$textColorSec: white;
$textColorAlternate: #dfdfdf;
// Fonts
$mainFont: "Special Gothic Condensed One", sans-serif;
$secondaryFont: "Oswald", sans-serif;
// Header Colors
$headerColor: transparent;
$headerColorSmall: black;
$headerTextColor: white; 
$headerActiveColor: white;
$headerActiveTextColor: #edd068;
// Button Colors
$buttonColor: #edd068;
$buttonColorHover: #fcd856;
$buttonColorHero: #000000;
$buttonColorHeroHover: #ffffff;
// Scroll Colors
$colorScroll: #ffffff;  
$colorScrollBg: #1a1a1a;  
$colorScrollThumb: #000000;
$colorScrollThumbHover: #3b3b3b;
// Ticker Colors
$colorTicker: #000000; 
$textColorTicker: #ffffff;
// Discount Colors
$textColorOff: #edd068;
// Footer Colors
$colorFooterPrimary: #161616;
$colorFooterSec: #edd068;
$colorFooterBorder: #d3d3d3;
$colorFooterText: #ffffff;
$devbyColor: #fbfbfb;
$devbyColorHover: #2e86f3;
// SVG Colors
$svgColor: #edd068;
$svgColorSec: #ffffff;
$svgColorHover: #fce9a7;
// Loader Colors
$loaderDotColor: #ffffff;
$loaderBgColor: #1a1a1a; 