@use "../variables";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin containerWidth($maxContainerWidth:900px) {
    max-width: $maxContainerWidth;
    padding-left: 0px;
    padding-right: 0px;
}