@use "../variables";
@use "../mixins/mixins";

#contato {
    background-color: variables.$bodyColorSecondary;
    
    h3 {
        color: variables.$textColor !important;
    }

    span, p, h1, h2, h4, h4, h6 {
        color: variables.$textColorSec !important;
    }
}

.container-contact {
    @include mixins.containerWidth();
    padding-left: 0px;

    .container-left-contact {
        max-width: 450px;
    }
    
    .container-right-contact {
        max-width: 450px;

        .embed-map {
            height: 355px;
            width: 100%;
            max-width: 450px;
            margin-right: 20px;
        }
    }
}

#contact-social-links a {
    text-decoration: none; 
    margin-right: 5px;
    transition: ease-in-out 0.2s;

    & svg {
        color: variables.$svgColorSec;
        margin-right: 10px !important;

        &:hover {
            color: variables.$svgColorHover;
        }
    }
}

