@use "../variables";
@use "../mixins/mixins";

#contato {
    background-color: variables.$bodyColorSecondary;
    
    h3 {
        color: variables.$textColor !important;
      }
  
      span, p, h1, h2, h4, h4, h6 {
        color: variables.$textColorSec !important;
    }
}

.container-contact {
    @include mixins.containerWidth();

    .container-left-contact {
        max-width: 450px;
    }
    
    .container-right-contact {
        max-width: 450px;

        .embed-map {
            max-height: 400px;
            max-width: 400px;
        }
    }
}


