@use "../variables";
@use "../mixins/mixins";

#contato {
    background-color: variables.$bodyColorSecondary;
    
    h3 {
        color: variables.$textColor !important; 
    }

    span, p, h1, h2, h4, h4, h6 {
        color: variables.$textColor !important; //color: variables.$textColorSec !important;
    }
}

.container-contact-banner {
    @include mixins.containerWidth();
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px;

    & img {
        width: 100%;
    }
}

#store-carousel .carousel-item {
    position: relative;
}

.c-item-store {
    @include mixins.containerWidth();
    max-height: 460px;
}

.c-img-store {
    align-items: center;
    @include mixins.borderRadiusTop();
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.container-contact {
    @include mixins.containerWidth();
    padding-right: 0px;

    .container-left-contact {
        max-width: 450px;
        margin-left: 40px;
    }
    
    .container-right-contact {
        max-width: 450px;

        .embed-map {
            height: 355px;
            width: 470px;
            margin-left: 20px;
            margin-right: 20px;
            max-width: 100%;
        }
    }
}

#contact-social-links a {
    text-decoration: none; 
    margin-right: 5px;
    transition: ease-in-out 0.2s;

    & svg {
        color: variables.$svgColorSec;
        margin-right: 10px !important;

        &:hover {
            color: variables.$svgColorHover;
        }
    }
}

.container-contact-text {
    margin-right: 15px;
}