@use "../variables";
@use "../mixins/mixins";

#destaque {
    background-color: variables.$bodyColorSecondary;

    h3 {
        color: variables.$textColor !important;
      }
  
      span, p, h1, h2, h4, h4, h6 {
        color: variables.$textColor !important;
    }
}

.container-featured {
    @include mixins.containerWidth();
    
    a {
        width: 100%;
    }

    img {
        width: 100%;
        object-fit: cover;
        object-position: center bottom;
    }
}