@use "../variables";
@use "../mixins/mixins";

#home {
    background-color: white;
}

.container-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
  
#video-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    filter: brightness(0.6);
    margin: 0;
    padding: 0;
}

.store-motto {
    font-family: variables.$secondaryFont;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
}

.hero-cta {
    letter-spacing: 3px;
}

.motto-text {
    position: relative;
    z-index: 2; 
    text-align: center;
    color: variables.$textColorAlternate; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .motto-description {
        color: variables.$textColorAlternate !important;
    }
    
    h1 {
        color: variables.$textColorSec !important;
    }
}

.logo-store {
    max-width: 195px;
    padding-top: 4rem;
    align-self: center;
    justify-self: center;
}

.hero-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 2rem; 
}
