@use "../variables";
@use "../mixins/mixins";

#home {
    background-color: white;
}

.container-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#video-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    filter: brightness(0.38);
    margin: 0;
    padding: 0;
}

.store-motto {
    font-family: variables.$secondaryFont;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
}

.hero-cta {
    letter-spacing: 3px;
}

.motto-text {
    position: relative;
    z-index: 2; 
    text-align: center;
    color: variables.$textColorAlternate; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .motto-description {
        color: variables.$textColorAlternate !important;
    }
    
    h1 {
        color: variables.$textColorSec !important;
    }
}

.logo-store {
    padding-top: 4rem;
    align-self: center;
    justify-self: center;
}

.hero-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 2rem; 
}

.hero-container-inner {
    margin-top: 10px;

    img {
        margin-top: 30px;
    }
}

// Small Size Screen
@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    .motto-description {
        font-size: 0.8rem;
        margin: 0 3rem;
    }

    .logo-store {
        max-width: 165px;
    }
}

// Medium Size Screen
@media (min-width: 577px) and (max-width: 768px) {
    h1 {
        font-size: 2.3rem;
    }

    .motto-description {
        font-size: 1.25rem;
        margin: 0 2rem;
    }

    .logo-store {
        max-width: 175px;
    }
}

// Large Size Screen
@media (min-width: 769px) {
    h1 {
        font-size: 3rem;
    }

    .motto-description {
        font-size: 1.5rem;
    }

    .logo-store {
        max-width: 195px;
    }
}