@use "../variables";
@use "../mixins/mixins";

#novidades {
    background-color: variables.$bodyColorSecondary;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    
    h3 {
        color: variables.$textColor !important;
    }

    span, p, h1, h2, h4, h4, h6 {
        color: variables.$textColorSec !important;
    }
}

.container-newclothing {
    @include mixins.containerWidth();
    padding: 0px;
}

.container-left-featured {
    max-width: 450px;

    img {
        max-width: 100%;
        justify-self: center;
        align-self: center;
        @include mixins.borderRadiusTop();
        @include mixins.borderRadiusBottom();
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

.container-right-featured {
    max-width: 450px;
    margin-right: 20px;
}


@media (max-width: 768px) {
    .container-newclothing {
        padding: 0px;
        
    .container-left-featured {
        margin: 0 auto;
        padding: 0px;
        text-align: center;

        img {
            padding: 0px;
            margin-right: 0px;
        }
        }
    }
}